<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div>
        <h1>Nueva Invitación</h1>
        <p>Hola,</p>
        <p>tienen un nuevo saldo a pagar en un Proyecto</p>
        <p>Saludos coridales,</p>
        <p><strong>Easy Pays</strong></p>
    </div>
</body>

</html>